.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(1.4rem, 1.4vw, 4rem);
  padding: 1em 2em;
  font-family: 'Roboto', sans-serif;
  border-bottom: 0.4rem solid $coralRed;

  &__logo {
    width: 16rem;
    height: auto;
  }

  &__links {
    list-style: none;
    display: flex;
  }

  &__link {
    cursor: pointer;
    transition: color 200ms ease-in-out;

    &:hover {
      color: $coralRed;
    }

    &:nth-child(2) {
      margin: 0em 2em;
    }
  }
}

.header {
  margin: 0 auto;
  width: 100%;
  max-width: 192rem;
  height: 70vh;
  max-height: 108rem;
  background-image: url(../img/header.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
