@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,400&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  color: black;
  text-decoration: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(1.4rem, 1.4vw, 4rem);
  padding: 1em 2em;
  font-family: 'Roboto', sans-serif;
  border-bottom: 0.4rem solid #ff5757;
}

.nav__logo {
  width: 16rem;
  height: auto;
}

.nav__links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__link {
  cursor: pointer;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.nav__link a {
  color: black;
  text-decoration: none;
}

.nav__link:hover {
  color: #ff5757;
}

.nav__link:nth-child(2) {
  margin: 0em 2em;
}

.header {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: 80%;
  background-image: url(../img/headerbg.png);
  background-attachment: fixed;
  background-repeat: repeat;
  border-bottom: 0.4rem solid #ff5757;
}

.header__img {
  width: 50rem;
  height: auto;
  margin: 10rem 0rem;
  -webkit-filter: drop-shadow(2px 2px 1px orangered);
          filter: drop-shadow(2px 2px 1px orangered);
}

.pizza {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.pizza__title {
  font-size: 3.6rem;
  font-family: 'Poppins', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pizza__title__description {
  font-size: 1.4rem;
  color: #999999;
}

.pizza__items {
  padding: 4rem 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  gap: 4rem;
}

.pizza__item {
  font-family: 'Poppins', sans-serif;
  width: 30rem;
  height: auto;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 5px #999999;
          box-shadow: 0px 0px 5px #999999;
  -webkit-transition: -webkit-box-shadow 200ms ease-in-out;
  transition: -webkit-box-shadow 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out, -webkit-box-shadow 200ms ease-in-out;
}

.pizza__item:hover {
  -webkit-box-shadow: 0px 0px 20px #999999;
          box-shadow: 0px 0px 20px #999999;
}

.pizza__image {
  width: 100%;
  height: auto;
}

.pizza__description {
  padding: 1rem 2rem;
}

.pizza__name {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pizza__name span {
  font-size: 0.6em;
  color: #999999;
}

.pizza__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.5em;
}

.pizza .addToCartBtn {
  background-color: white;
  padding: 0.6rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  letter-spacing: 0.1rem;
  border: 0.2rem solid #ff5757;
}

.pizza .addToCartBtn:hover {
  background-color: #ff5757;
  color: white;
}

.popup {
  position: fixed;
  top: 85%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2rem;
  border: 2ps solid red;
  font-family: 'poppins', sans-serif;
  background-color: #ff5757;
  padding: 1rem 2rem;
  border-radius: 1.2rem;
  color: white;
  display: block;
}

.hidden {
  display: none;
}

/* 
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/
.credentials__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 2rem;
  min-height: 100vh;
  overflow: hidden;
  background-image: radial-gradient(circle, #ff5757, #ff6161, #ff6b6a, #ff7474, #fe7d7d);
}

.credentials__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border-radius: 1.4rem;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0rem 0rem 1.8rem rgba(0, 0, 0, 0.2);
          box-shadow: 0rem 0rem 1.8rem rgba(0, 0, 0, 0.2);
}

.credentials__container .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20rem 5rem;
  background-image: url(../img/headerbg.png);
  background-size: 80%;
}

.credentials__container .left .logo {
  width: 38rem;
  height: auto;
}

.credentials__container .right {
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.credentials__container .right .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.credentials__container .right .login .input {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  width: 30rem;
  height: 4rem;
  margin-bottom: 4rem;
  border: none;
  border-bottom: 0.3rem solid white;
  -webkit-transition: border 300ms ease-in-out;
  transition: border 300ms ease-in-out;
}

.credentials__container .right .login .input:focus {
  outline: none;
  border-bottom: 0.3rem solid #ff5757;
}

.credentials__container .right .loginBtn {
  background-color: white;
  padding: 0.6rem 2rem;
  border: 0.2rem solid #ff5757;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  color: #ff5757;
  cursor: pointer;
}

.credentials__container .right .loginBtn:hover {
  background-color: #ff5757;
  color: white;
}

.credentials__container .right .formSwitch button {
  font-size: 1.4rem;
  border: none;
  background: none;
  color: #ff5757;
  border-bottom: 0.2rem solid white;
  cursor: pointer;
}

.credentials__container .right .formSwitch button:hover {
  border-bottom: 0.2rem solid #ff5757;
}

@media screen and (max-width: 728px) {
  .credentials__body {
    overflow: scroll;
  }
  .credentials__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .credentials__container .left {
    padding: 3rem 2rem;
  }
  .credentials__container .left .logo {
    width: 22rem;
    height: auto;
  }
  .credentials__container .right {
    padding: 4rem 4rem;
  }
  .credentials__container .right .login .input {
    width: 18rem;
  }
  .credentials__container .right .loginBtn {
    font-size: 1.4rem;
    padding: 0.6rem 1rem;
  }
  .formSwitch {
    margin-top: 4rem;
  }
}

.cart__container {
  width: 100%;
}

.cart__container .left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  padding: 5rem;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1.2rem;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  -webkit-box-shadow: 0rem 0rem 1.4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0rem 0rem 1.4rem rgba(0, 0, 0, 0.2);
}

.item__details {
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item__img {
  width: 20rem;
  height: auto;
}

.item__name {
  font-size: 2.4rem;
}

.item__price--container {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__price {
  margin-right: 0.6rem;
}

.item__quantity {
  margin-left: auto;
}
/*# sourceMappingURL=style.css.map */